<!DOCTYPE HTML>
<html lang="en" class="d-flex flex-direction-column">

<head>
	<meta charset="utf-8">
	<title>Fortify -- Welcome!</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/overrides.css">
	<link rel="shortcut icon" href="/assets/fav.webp">
	<link rel="stylesheet" href="/css/index.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
</head>

<body class="text-center d-flex align-items-center justify-content-center flex-1">
	<div class="text-left p">
		<h1 style="font-size: 5rem;">Fortify</h1>
		<br /><hr /><br />
		<h4>Coronavirus has risen... but we can rise above it.</h4>
		<br />
		<div class="tile-container flex-1 d-inline-block">
			<div class="tile loose"
				onclick="location.href='/';">
				<h5>Enter the app</h5>
			</div>
			<div class="tile loose"
				onclick="https://link.to/replit">
				<h5>Upvote on Replit!</h5>
			</div>
		</div>

		

	</div>
	<img src="/assets/thumb.png" />
	<style>
		* {font-family: 'Montserrat Alternates'; }
		body { flex-direction: row; }
		img { width: 25rem; margin: 2.5rem; }
		.p { padding-left: 1rem;}
	</style>
</body>
</html>